
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 40px;
            margin-right: 6px;
        }
        h1 {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 0;
            font-family: var(--font-primary);
            span {
                color: var(--color-primary);
            }
        }
    }

    .btn-getstarted, .btn-getstarted:focus {
        color: #fff;
        background: var(--color-primary);
        font-size: 14px;
        padding: 8px 25px;
        border-radius: 50px;
        transition: 0.3s;
        text-transform: uppercase;
        margin-left: 20px;
        margin-top: .5rem;
        margin-right: 20px;
        justify-content: center;
        @include xl {
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            justify-content: inherit;
        }
    }

    .btn-getstarted:hover, .btn-getstarted:focus:hover {
        color: var(--color-secondary);
        background: color-mix(in srgb, var(--color-primary), transparent 15%);
    }
    .navbar{
        .menu-item-icon{
            a{
                position: relative;
                i{
                    font-size: 1rem;
                }
                .counter{
                    position: absolute;
                    top: 0;
                    left: 35px;
                    @include xl{
                        top: -10px;
                        right: -10px;
                        left: auto;
                    }
                }
            }
        }
        .menu-item-logged-in{
            a{
                display: block;
                padding-top: 1rem;
                .menu-avatar{
                    height: 2rem;
                    width: 2rem;
                    border-radius: 50%;
                    margin-left: .5rem;
                }
                @include lg {
                    padding-top: 0;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .navbar {
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }
        li {
            position: relative;
        }
        &>ul>li {
            white-space: nowrap;
            padding: 10px 0 10px 28px;
            &>a:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: -6px;
                left: 0;
                background-color: var(--color-primary);
                visibility: hidden;
                width: 0px;
                transition: all 0.3s ease-in-out 0s;
            }
        }
        a,
        a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3px;
            font-family: var(--font-primary);
            font-size: 14px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
            white-space: nowrap;
            transition: 0.3s;
            position: relative;
            i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }
        }
        a:hover:before,
        li:hover>a:before,
        .active:before {
            visibility: visible;
            width: 100%;
        }
        
        a:hover,
        .active,
        .active:focus,
        li:hover>a {
            color: #fff;
        }
        .dropdown {
            ul {
                display: block;
                position: absolute;
                right: 0;
                top: calc(100% + 30px);
                margin: 0;
                padding: 10px 0;
                z-index: 99;
                opacity: 0;
                visibility: hidden;
                background: $white;
                box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                transition: 0.3s;
                li {
                    min-width: 200px;
                }
                a {
                    padding: 10px 20px;
                    font-size: 15px;
                    text-transform: none;
                    color: var(--color-default);
                    font-weight: 400;
                    i {
                        font-size: 12px;
                    }
                }
                a:hover,
                .active:hover,
                li:hover>a {
                    color: var(--color-primary)!important;
                }
            }
            &:hover>ul {
                opacity: 1;
                top: 100%;
                visibility: visible;
            }
            .dropdown {
                ul {
                    top: 0;
                    left: calc(100% - 30px);
                    visibility: hidden;
                }
                &:hover>ul {
                    opacity: 1;
                    top: 0;
                    left: 100%;
                    visibility: visible;
                }
            }
        }
    }

}
  
@media (min-width: 1200px) and (max-width: 1366px) {
    .navbar {
        .dropdown {
            .dropdown {
                ul {
                    left: -90%;
                }
                &:hover>ul {
                    left: -100%;
                }
            }
        }
    }
}
  
@include xl {
    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}
  
/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1199px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
        ul {
            position: absolute;
            inset: 0;
            padding: 50px 0 10px 0;
            margin: 0;
            background: rgba(0, 0, 0, 0.8);
            overflow-y: auto;
            transition: 0.3s;
            z-index: 9998;
        }
        a,
        a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-family: var(--font-primary);
            font-size: 15px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.7);
            white-space: nowrap;
            text-transform: uppercase;
            transition: 0.3s;
            i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }
        }
        a:hover,
        .active,
        .active:focus,
        li:hover>a {
            color: $white;
        }
        .dropdown {
            ul,
            .dropdown ul {
                position: static;
                display: none;
                padding: 10px 0;
                margin: 10px 20px;
                transition: all 0.5s ease-in-out;
                border: 1px solid #222428;
            }
        }
        .dropdown>.dropdown-active,
        .dropdown .dropdown>.dropdown-active {
            display: block;
        }
    }
  
    .mobile-nav-show {
        position: relative;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        padding-right: 10px;
    }
    .member-page {
        .mobile-nav-show {
            color: var(--color-secondary);
        }
    }
  
    .mobile-nav-hide {
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }
  
    .mobile-nav-active {
        overflow: hidden;
        .navbar {
            right: 0;
            &:before {
                content: "";
                position: fixed;
                inset: 0;
                background: rgba(0, 0, 0, 0.6);
                z-index: 9996;
            }
        }
    }
    
    .btn-getstarted, .btn-getstarted:focus {
        margin-left: inherit;
        margin-top: inherit;
    }
}
  