/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
    .service-item {
        padding: 30px;
        background: #fff;
        height: 100%;

        @include sm {
            padding: 40px;
        }

        .icon {
            width: 48px;
            height: 48px;
            position: relative;
            margin-bottom: 50px;

            i {
                color: var(--color-secondary);
                font-size: 40px;
                transition: ease-in-out 0.3s;
                z-index: 2;
                position: relative;
                line-height: 1.8;
            }

            &:before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: #f0f1f2;
                border-radius: 50px;
                z-index: 1;
                top: 10px;
                right: -15px;
                transition: 0.3s;
            }
        }

        h3 {
            color: var(--color-default);
            font-weight: 700;
            margin: 0 0 20px 0;
            padding-bottom: 8px;
            font-size: 22px;
            position: relative;
            display: inline-block;
            border-bottom: 4px solid #ebebed;
            transition: 0.3s;
        }

        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }

        .readmore {
            margin-top: 15px;
            display: inline-block;
            color: var(--color-primary);
        }

        &:hover {
            .icon {
                &:before {
                    background: var(--color-primary);
                }
            }

            h3 {
                border-color: var(--color-primary);
            }
        }
    }
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
    .nav-tabs {
        border: 0;
    }

    .nav-link {
        padding: 15px 0;
        transition: 0.3s;
        color: var(--color-secondary);
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 100%;
        border: 0;
        border-bottom: 4px solid #e2e4e6;

        i {
            padding-right: 15px;
            font-size: 48px;
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
        }

        &:hover {
            color: var(--color-primary);
        }

        &.active {
            color: var(--color-primary);
            background-color: transparent;
            border-color: var(--color-primary);
        }

        h4 {
            font-size: 16px;
            @include sm {
                font-size: inherit;
            }
        }
    }

    .tab-content {
        margin-top: 30px;
    }

    .tab-pane {
        h3 {
            font-weight: 700;
            font-size: 32px;
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &:after {
                content: "";
                position: absolute;
                display: block;
                width: 60px;
                height: 3px;
                background: var(--color-primary);
                left: 0;
                bottom: 0;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                padding-top: 10px;
            }

            i {
                font-size: 20px;
                padding-right: 4px;
                color: var(--color-primary);
            }
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}