.section-cart{
    .cart-items{
        .cart-item{
            .product-attributes{
                p{
                    margin-bottom: 0;
                }
                margin-bottom: 1rem;
            }
            .bg-image{
                overflow: hidden;
                display: flex;
                align-items: center;
                @include lg {
                    max-height: 150px;
                }
                img {
                    transition: all 0.3s ease;
                }
            }
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
            .product-quantity{
                max-width: 5rem;
            }
        }
    }
}